body {
  font-family: sans-serif;
  font-size: 24px;
  }
  body {
    background-color: lightgray;
}
  h1 {color: green
  }
  h2, h3, h4, h5, h6
  {color: teal
  }
  a {color: blue
  }
  a:hover
    {color: brown
  }
  p {color: navy}


* {
    box-sizing: border-box;
}
.row{
  display:flex;
}
.gallery {
  background: #eee;
  width: 500px;
  margin: 1em auto;
}
.gallery img {
  max-width: 100%;
  height: auto;
}
.gallery .hero {
  padding: 1em;
}
.gallery .thumbs {
  background: #ddd;
  padding: .5em;
  text-align: center;
}
.gallery .thumbs img {
  width: 100px;
  height: auto;
  cursor: pointer;
  margin: 0.5rem;
}
.gallery .active {
  opacity: 0.5;
}
#input {
  display: flex;
}

#text {
  resize: none;
  padding: 10px;
  font-size: 12pt;
}

#submit {
  font-size: 12pt;
  padding: 20px;
  background: #0a0;
  color: white;
}

#label {
  resize: none;
  padding: 20
  font-size: 12pt;

}
